.inputStyle {
  width: 25rem;
  height: 3rem;
  background-color: rgb(90, 2, 122);
  border-radius: 1rem 3rem 0rem 1rem;
  border: 3px solid rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 0 1rem;
  margin: 0 2rem;
}

.submitButton {
  margin: 0 0 20px 21rem;
  height: 4vh;
  width: 6rem;
  cursor: pointer;
  border-radius: 3rem 0rem 3rem 1rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
